body {
  font-family: "Arial", sans-serif;
  background-color: #f7f9fc;
  margin: 0;
  padding: 0;
}

header {
  background-color: #232f3e;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 30px;
}

#question-container {
  margin-bottom: 20px;
  font-size: 20px;
}

#options-container button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #007acc;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

#options-container button:hover {
  background-color: #e6f2ff;
}

#next-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  cursor: pointer;
}

#next-btn:hover {
  background-color: #005f99;
}

#feedback {
  margin-top: 15px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #232f3e;
  color: white;
}
